@(title: String)(content: Html)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
    <body>
	    	<header class="navbar navbar-default">
		  <div class="container" role="presentation">
		    <ul class="nav navbar-nav navbar-right">
		      <li>
		        <a href="@routes.ProdutoController.formularioDeNovoProduto">Novo produto</a>
		      </li>
		    </ul>
		  </div>
		</header>
		@notificacoes()
		<main class="container">
			@content
		</main>
    </body>
</html>
